.timer {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-family: "Bebas Neue", sans-serif;

  h3 {
    line-height: 5em;
    font-size: 3rem;
  }

  div {
    line-height: 1.2em;
    font-size: 30px;

    strong {
      color: #e88130;
    }

    p {
      line-height: 2em;

      font-weight: 600;
      letter-spacing: 10px;
    }
  }
}
