nav {
  width: 100dvw;
  background-color: #141e30;
  background: linear-gradient(to right, #1a171b, #3a385b, #262938);

  font-family: "Roboto", sans-serif;

  .navbar-nav {
    margin: auto;
    li {
      margin: 0px 20px;
      a {
        color: #e1e1e1;
        font-size: 20px;
        font-weight: 600;
      }

      .active{
        font-weight: 900;
        color: #d0b29f;
      }
    }
  }

  form {
    .btn-group {
      .username-btn {
        padding: 5px 15px;
        border-radius: 7px;
        border: 1px solid #d0b29f;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        background: transparent;
        color: #fff;
        overflow: hidden;
        box-shadow: 0 0 0 0 transparent;
        transition: all 0.2s ease-in;
      }
      .username {
        color: #d0b29f;
      }

      .dropdown-menu {
        margin: 0 -25%;

        li {
          cursor: pointer;
        }
      }
    }
    .dropdown {
      box-shadow: rgba(175, 178, 182, 0.3) 0px 0px 0px 2px;
      width: 72px;
      height: 30px;
      padding: 10px;
      color: #e1e1e1;
      text-transform: capitalize;

      border-radius: 10px;
    }
  }
}
