@mixin fancyDecoration {
  position: relative;
  white-space: nowrap;

  &:after {
    --deco-height: 0.3125em;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(var(--deco-height) * -0.625);
    height: var(--deco-height);
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%23E88130' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: auto 100%;
    background-repeat: round;
    background-position: 0em;
  }
}

.home {
  .banner {
    width: 100dvw;
    height: 100dvh;
    background-color: #3a385b;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141e30;
    background: linear-gradient(to right, #1a171b, #3a385b, #262938);

    h1 {
      color: mix(#fff, #262938, 85%);
      font-size: calc(1em + 15vw);
      font-weight: 900;
      text-shadow: -0.0075em 0.0075em 0 mix(#fff, #262938, 94%),
        0.005em 0.005em 0 mix(#fff, #262938, 60%),
        0.01em 0.01em 0 mix(#fff, #262938, 62%),
        0.015em 0.015em mix(#fff, #262938, 64%),
        0.02em 0.02em 0 mix(#fff, #262938, 66%),
        0.025em 0.025em 0 mix(#fff, #262938, 68%),
        0.03em 0.03em 0 mix(#fff, #262938, 70%),
        0.035em 0.035em 0 mix(#fff, #262938, 72%);
      margin-top: -200px;

      .fancy {
        @include fancyDecoration;
      }
    }
  }
}

.service {
  background-color: #fffefe;
  width: 100dvw;
  height: 100dvh;

  h1 {
    text-align: center;
    padding-top: 80px;

    .fancy {
      @include fancyDecoration;
    }
  }

  .card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;

    .card {
      background: #f1f0f0;
      width: 20rem;
      height: 18rem;
      padding-top: 25px;
      padding-bottom: 25px;
      padding-left: 20px;
      padding-right: 20px;
      border: 4px solid #fdfdfe;
      box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
      border-radius: 10px;
      text-align: center;
      color: #292929;
      font-family: "Poppins", sans-serif;
      transition: all 0.3s ease;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

      &:hover {
        transform: translateY(-10px);
      }

      h3 {
        font-size: 20px;
        font-weight: 700;
      }

      img {
        overflow: hidden;
        object-fit: cover;
        width: 5rem;
        height: 5rem;
        border: 4px solid #2a2a2a;
        border-radius: 999px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
      }
    }
  }
}
