<div class="home">

    <div class="banner">
<h1>
    
    <span class="fancy">
        FitGo
    </span>
</h1>


    </div>

    <div class="service">
        <h1>
            <span class="fancy">
                Our Services
            </span>
           </h1>

        <div class="card-container">
            

            <div class="card">
                <img width="100" height="100" src="https://img.icons8.com/quill/100/000000/dumbbell.png" alt="dumbbell"/>
                <h3>Interactive Workouts</h3>
                Experience guided, immersive workouts led by expert trainers for proper form and motivation.
            </div>
            <div class="card">
                <img width="100" height="100" src="https://img.icons8.com/parakeet-line/100/000000/sleeping-mat.png" alt="sleeping-mat"/>
                                        <h3>User-Friendly Interface</h3>
                Effortlessly explore and select exercises with our user-friendly interface.            </div>
            <div class="card">
                <img width="64" height="64" src="https://img.icons8.com/external-xnimrodx-lineal-xnimrodx/64/000000/external-workout-fitness-and-diet-xnimrodx-lineal-xnimrodx.png" alt="external-workout-fitness-and-diet-xnimrodx-lineal-xnimrodx"/>                <h3>Workout Plan Selection</h3>
                Choose from a diverse range of workout plans tailored to various fitness goals and levels.
            </div>
        </div>

    </div>
</div>
