<div class="container-fluid text-center">
  <div class="row">
    <!-- Right side -->
    <div class="col-8">
      <div class="sets-container" *ngIf="currentExercise.exerciseName != ''">
        <h5>sets:</h5>
        <div
          class="sets"
          *ngFor="
            let index of getNumberArray(currentExercise.sets);
            let i = index
          "
        >
          <!--  *************************** mark a cell when set is complete by checking if currnt cell i in included in completed set array ***************************  -->
          <p
            [ngClass]="{
              complete:
                completedSets[currentExercise.exerciseName]
                  ?.join(', ')
                  ?.includes((index + 1).toString()) ?? false
            }"
          >
            <!-- {{index + 1}} -->
          </p>
        </div>
      </div>

      <div *ngIf="isTimer" class="right-side">
        <app-timer (timerOver)="handleTimerOver()"></app-timer>
        <button (click)="handleTimerOver()" class="btn stop">Stop timer</button>
      </div>
      <div
        *ngIf="!isTimer && currentExercise.exerciseName != ''"
        class="right-side"
      >
        <div class="exercise-info">
          <h2>{{ currentExercise.exerciseName }}</h2>
          <p>Repetitions: {{ currentExercise.repetitions }}</p>
          <p>
            <strong>Target Muscle:</strong> {{ currentExercise.muscleGroup }}
          </p>
        </div>
        <img
          *ngIf="currentExercise.image"
          [src]="currentExercise.image"
          alt="{{ currentExercise.exerciseName }}"
        />

        <div class="marked-btn-container">
          <button class="btn" (click)="markSetCompleted()">
            Mark Set Completed
          </button>
        </div>
      </div>
    </div>

    <div
      class="col-4 offcanvas offcanvas-end show"
      tabindex="-1"
      id="offcanvasRight"
      aria-labelledby="offcanvasRightLabel"
      data-bs-scroll="true"
      data-bs-backdrop="false"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">
          {{workoutPlanName}}
        </h5>
      </div>
      <div class="offcanvas-body">
        <div *ngFor="let day of neededArray; let i = index">
          <div
            (click)="updateCurrentDay(day, i)"
            class="day"
            type="button"
            data-bs-toggle="collapse"
            [attr.data-bs-target]="'#collapseExample' + i"
            aria-expanded="false"
            [attr.aria-controls]="'collapseExample' + i"
          >
            <h5>{{ day.name }}</h5>
            <img
              width="20"
              height="20"
              [src]="
                expandedDays[i]
                  ? 'https://img.icons8.com/ios-filled/50/collapse-arrow--v1.png'
                  : 'https://img.icons8.com/ios-filled/50/expand-arrow--v1.png'
              "
              alt="expand-arrow--v1"
            />
          </div>
          <div *ngFor="let exercise of day.exercises; let j = index">
            <div
              class="collapse exercise-list"
              [attr.id]="'collapseExample' + i"
              (click)="selectedExercise(exercise)"
            >
              <ul>
                <li
                  [ngClass]="{
                    current:
                      currentExercise.exerciseName == exercise.exerciseName
                  }"
                >
                  {{ exercise.exerciseName }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
